/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




@media (max-width: 990px) {
    .sidebar.close {
        width: 0px;
        border-top-right-radius: 20px;
    }
    .sidebar.close~.home-section {
        left: 0px;
        width: calc(100% - 0px);
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 225px;
        background: #515151;
        z-index: 100;
        border-top-right-radius: 50px;
        transition: all 0.5s ease;
        box-shadow: 1px 1px 4px #c8c8c8;
    }

    .home-section {
        position: relative;
        background: #fff4dc;
        height: 100vh;
        left: 225px;
        width: calc(100%);
        transition: all 0.5s ease;
    }
    .sidebar .logo-details .big_logo {
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s ease;
        transition-delay: 0.1s;
        padding-top: 2%;

    }
}
@media (min-width: 991px) {
    .sidebar.close {
        width: 60px;
        border-top-right-radius: 20px;
    }
    .sidebar.close~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
        background: #515151;
        z-index: 100;
        border-top-right-radius: 50px;
        transition: all 0.5s ease;
        box-shadow: 1px 1px 4px #c8c8c8;
    }
    .home-section {
        position: relative;
        background: #fff4dc;
        height: 100vh;
        left: 300px;
        width: calc(100% - 300px);
        transition: all 0.5s ease;
    }
    .sidebar .logo-details .big_logo {
        font-size: 22px;
        color: #fff8dc;
        font-weight: 600;
        transition: 0.3s ease;
        transition-delay: 0.1s;
        padding-top: 2%;
        padding-left: 20%;

    }
}

.sidebar .logo-details {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}





.sidebar.close .logo-details .big_logo {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .logo-details .mini_logo {
    display: none;
}

.sidebar.close .logo-details .mini_logo {
    display: block;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}


.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links>li.active:before,
.sidebar .nav-links>li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 4px;
    height: 100%;
    background: #53596f;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar .nav-links li.active:before,
.sidebar .nav-links li:hover:before {
    opacity: 1;
}

.sidebar .nav-links li .iocn-link {
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.mainI {
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li:hover i,
.sidebar .nav-links li.active i {
    color: #53596f;

}


.sidebar .nav-links li.active,
.sidebar .nav-links li:hover {
    color: #53596f;
    background-color: #ffffff;
}


.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.4s ease;
}

.sidebar .nav-links li.active a .link_name,
.sidebar .nav-links li:hover a .link_name {
    color: #53596f;

}

.sidebar.close .nav-links li a .link_name {
    display: none;
    pointer-events: none;
}


.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 30px;
    margin-top: -10px;
    background: #ffffff;
    display: none;
}

.sidebar .nav-links li .sub-menu .sub-heading {
    min-width: 240px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #d6edff85;
    color: #000000;
    border-radius: 10px;
}

.sidebar .nav-links li .sub-menu .sub-heading .mini-icon {
    color: #53596f;
    font-size: 17px;
    padding-right: 8px;
    padding-left: 16px;
}

.sidebar .nav-links li .sub-menu .sub-heading :hover .mini-icon {
    color: #ffffff;
}

.sidebar .nav-links li .sub-menu .sub-heading :hover {
    background: #515151;
    color: #ffffff;
    border-radius: 10px;
}


.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #000000;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.3s ease;
}


.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: -85px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .separator_text {
    font-size: 12px;
    display: block;
    color: #bbd2e4;
    background-color: #1c88e0;
}

.sidebar.close .separator_text {
    display: none;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {

    padding-right: 16px;
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}









.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 100px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
        background-color: #80c3f9;
    }
}
